.footer__conteiner{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 100%;
}
@media screen and (max-width: 320px){
    .footer__conteiner{
        flex-direction: column;
        gap: 48px;
    }
}