.lead__title{
    max-width: 720px;
    font-family:'Inter';
    font-style:normal;
    font-weight:900;
    font-size:96px;
    line-height:100px;
    text-align:center;
    color:#FFFFFF;
    padding: 0px;
    margin: 0px auto;
    text-rendering: optimizeLegibility;
} 

@media screen and (max-width: 712px){
    .lead__title{
       
        font-size:12.3vw;
        line-height:14.3vw;
        
    }
}
@media screen and (max-width: 320px){
    .lead__title{
        max-width: 288px;
        font-size:40px;
        line-height:44px;
        
    }
}