.place__website{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0px;
}
@media screen and (max-width: 385px){
    .place__website{
        padding: 0px 16px;
    }
}
